<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Level Up Fitness</title>

      <meta name="description" content="Capstone">
      <meta name="author" content="Miranda Anderson">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!--From the bootstrap starter template-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <!--Custom CSS has to be loaded after bootstrap to take effect-->
      {% load static %}
      <link rel="stylesheet" href="{% static 'style.css'%}">
      <!--Favicon for the webpage. Appears in tab next to title-->
      <link rel="icon" type="image" href="{% static 'images/favicon.png' %}">

      <!--Miranda Anderson-->
      <!--This base.html file is for template changes that occur across /all/ templates -->
      <!--Individual changes go on the templates in between the block content tags -->
   </head>

   <body>
        <img src="{% static 'images/Banner.jpg' %}" alt="" class="center">

        <!--nav bar that will appear across all templates -->
        <header class="site-header">
            <nav class="navbar navbar-expand-md">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <!--the href is not hard coded, and only needs to be changed in fitness/url.py if links paths need to be different
                            no hard coded paths in the navbar-->
                            <a class="nav-item nav-link" href="{% url 'fitness-home' %}">Home</a>
                            <a class="nav-item nav-link" href="{% url 'fitness-workouts' %}">Workouts</a>
                            <a class="nav-item nav-link" href="{% url 'fitness-leaderboard' %}">Leaderboard</a>
                            <a class="nav-item nav-link" href="{% url 'edit_profile' %}">Profile</a>

                            </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav" >
                            <!--A conditional to check if the user is logged in or not and display correct navbar-->
                            {% if user.is_authenticated %}
                                <a class="nav-item nav-link" href="{% url 'fitness-signout' %}">Logout</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{% url 'fitness-signin' %}">Login</a>
                                <a class="nav-item nav-link" href="{% url 'fitness-signup' %}">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        
          
        <div class="container">
            <!--ensures messages are displayed and have a bootstrap class according to alert type-->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <!--Everything unique to a template will appear under this comment, where the block content tags are -->
            {% block content %}{% endblock %}
        </div>
       
        <!--Boostrap scripts !! Important for navbar and other built in CSS !!-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>