<!--All duplicate code is located in the base.html file and extended here-->
{% extends 'fitness/base.html' %}
{% load crispy_forms_tags %}

<!--Any thing unique to this page must go in between the block content tags-->
{% block content %}
<table class="table">
    <tr>
        <td>User</td>
        <td>Reps</td>
    </tr>
     
        {% for item in posts %}    
        <tr>
            <td>{{ item.submitter }} </td>
            <td>{{ item.reps }} </td>
        </tr> 
        {% endfor %} 

   
      
    <div class="leader_form">
        <h1> Enter your reps! </h1> 
        <br/><br/>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Submit' class="btn">
        </form>
    </div>
   
{% endblock content %}